.pokemon {
  &-name {
    span {
      text-transform: capitalize;
    }

    small {
      font-size: 1.2rem;
      margin-bottom: -.3rem;
    }
  }

  .col-img {
    position: relative;

    .badge-box {
      position: absolute;
      bottom: 0;
      left: 15px;

      .badge {
        p {
          font-size: 1.1rem;
        }
      }
    }
  }

  .bar-group {
    .bar-label {
      text-transform: capitalize;
    }
  }
}