:root {
  --red-color: #d32f2f;
  --blue-color: #323099;
  --yellow-color: #face48;
  --red-dark: #9a0007;
  --blue-dark: #071766;
  --yellow-dark: #cf9966;
  --light-color: #ffffff;
  --dark-color: #111111;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, strong, b {
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
